{% extends "cinema/base.html" %}

{% block title %}
    Filmes Dpt
{% endblock title %}

{% block content %}
    {% for post in post_list  %}
        <article>
            <img src={{ post.venue_image.url}} class="filmes2">
            <p class="dolado">
                {{ post.title }}
                <br>
                <strong class="descricao">
                    {{ post.body }}
                </strong>
            </p>
        </article>
    {% endfor %}
{% endblock content %}